<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="new" href="/tabs/new">
      <ion-icon aria-hidden="true" name="barbell"></ion-icon>
      <ion-label>New</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="old" href="/tabs/old">
      <ion-icon aria-hidden="true" name="bar-chart"></ion-icon>
      <ion-label>Old</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
